.clients-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: url("/feature-bg.jpg") no-repeat center ;
    padding: 6rem 0;
}

.clients-container{
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 1200px;
    padding: 0 2rem;
    position: relative;
}

.clients-image-container{
    flex: 1;
    min-height: 900px;
}

.clients-phone{
    width: auto;
    height: 100%;
}

.clients-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60%;
    z-index: 20;
}

.clients-header{
    position: relative;
}